<?xml version="1.0" encoding="UTF-8"?>

<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

    <localRepository></localRepository>

    <pluginGroups>
    </pluginGroups>

    <proxies>
    </proxies>

    <servers>
          <server>
            <username>${env.TRAVIS_ARTIFACTORY_USERNAME}</username>
            <password>${env.TRAVIS_ARTIFACTORY_PASSWORD}</password>
            <id>artifactory</id>
        </server>
        <server>
            <username>${env.TRAVIS_ARTIFACTORY_USERNAME}</username>
            <password>${env.TRAVIS_ARTIFACTORY_PASSWORD}</password>
            <id>releases</id>
        </server>
        <server>
            <username>${env.TRAVIS_ARTIFACTORY_USERNAME}</username>
            <password>${env.TRAVIS_ARTIFACTORY_PASSWORD}</password>
            <id>snapshots</id>
        </server>
    </servers>

    <profiles>
       <profile>
           <id>artifactory</id>
           <repositories>
               <repository>
                   <snapshots>
                       <enabled>false</enabled>
                   </snapshots>
                   <id>releases</id>
                   <name>libs-release</name>
                   <url>${env.TRAVIS_ARTIFACTORY_URL}/libs-release</url>
               </repository>
               <repository>
                   <snapshots>
                       <enabled>true</enabled>
                   </snapshots>
                   <id>snapshots</id>
                   <name>libs-snapshot</name>
                   <url>${env.TRAVIS_ARTIFACTORY_URL}/libs-snapshot</url>
               </repository>
           </repositories>
           <pluginRepositories>
               <pluginRepository>
                   <snapshots>
                       <enabled>false</enabled>
                   </snapshots>
                   <id>releases</id>
                   <name>plugins-release</name>
                   <url>${env.TRAVIS_ARTIFACTORY_URL}/plugins-release</url>
               </pluginRepository>
               <pluginRepository>
                   <snapshots>
                       <enabled>true</enabled>
                   </snapshots>
                   <id>snapshots</id>
                   <name>plugins-snapshot</name>
                   <url>${env.TRAVIS_ARTIFACTORY_URL}/plugins-snapshot</url>
               </pluginRepository>
           </pluginRepositories>

       </profile>
   </profiles>

   <activeProfiles>
       <activeProfile>artifactory</activeProfile>
   </activeProfiles>

   <mirrors>
    <mirror>
      <id>artifactory</id>
      <mirrorOf>*</mirrorOf>
      <url>${env.TRAVIS_ARTIFACTORY_URL}/repo</url>
    </mirror>
</mirrors>
</settings>
